<h1>Taiwan Fruits O-I-SHI!</h1>
<p>Taiwan is located at subtropical weather zone. There are lots of fruits grow. Such as water mellon, banana, mango, cherry tomoto, mandarin, pine apples and so on.</p>
<%= image_tag("home.png") %>
<p></p>
<%= link_to "Let's Go", articles_path %>

