<p></p>
<h1><center><font size="10"; color="hex_C48F0D">Taiwan Fruits O-I-SHI!</font></center></h1>
<h2></h2>
<h4><center><font size="4"; color="447799">Taiwan is located at subtropical weather zone. There are lots of fruits grow. Such as water mellon, banana, mango, cherry tomoto, mandarin, pine apples and so on.</center></font></h4>
<p></p>
<p></p>
<h4><center><font size="6"; color="FF1706"><%= link_to "Let's Go", articles_path %></center></font></h4>


 



